<div class="card text-center border-custom bg-custom mb-3" style="margin-bottom:5px!important;">
    <div class="card-header">
        {{address}}
    </div>
    <div class="card-body body-custom">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">This location has: {{amenities}}</p>
        <a href="/locations/{{id}}" class="btn btn-dark">View Map</a> {{!--TODO:--}}
    </div>
    <div class="card-footer">
        Posted by: {{user.email}}
    </div>
</div>
<hr>